.table-text-color {
    color: white;
}

.bg-crimson {
    background-color: crimson;
}

.bg-green {
    background-color: rgb(22, 194, 22);
}

.bg-blue {
    background-color: rgb(138, 138, 248);
}

.bg-yellow {
    background-color: yellow;
}

.bg-brown {
    background-color: rgb(155, 77, 77);
}

.bg-orange {
    background-color: orange;
}

.bg-purple {
    background-color: rgb(145, 54, 145);
}

.bg-black {
    background-color: rgb(168, 167, 167);
}

.bg-cyan {
    background-color: cyan;
}