.table-text-color {
    color: white;
}

.bg-crimson {
    background-color: crimson;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-brown {
    background-color: brown;
}

.bg-orange {
    background-color: orange;
}

.bg-purple {
    background-color: purple;
}

.bg-black {
    background-color: black;
}

.bg-cyan {
    background-color: cyan;
}